#todo-container
{
    width: 50%;
    height: 80vh;
    margin-left: 4rem;
    background-image: url("image/images\ \(2\).jpeg");
    background-size:cover;
}

.new-task
{
    border: 1px solid gray;
    width: 50%;
}
.editEvent
{
    background-color: rgb(207, 200, 170);
}
.deleteEvent
{
    background-color: rgb(204, 112, 112);
}
@media (max-width: 768px) {
    #todo-container {
        width: 100%;
        margin: 0;
    }
    
}
@media (min-width: 769px )and (max-width:1024px) {
    #todo-container {
        width: 75%;
    }
}
